## 对话模型，必须支持 生成json功能 和 工具调用功能
CHAT_MODEL_PROVIDER =
CHAT_API_NAME =
CHAT_API_BASE =
CHAT_API_KEY =
CHAT_MAX_TOKEN =

REASONER_CHAT_MODEL_PROVIDER =
REASONER_CHAT_API_NAME =
REASONER_CHAT_API_BASE =
REASONER_CHAT_API_KEY =
REASONER_MAX_TOKEN =

## 本地模型，用于做简单任务，必须支持 生成json功能
SIMPLE_CHAT_MODEL_PROVIDER =
SIMPLE_CHAT_API_NAME =
SIMPLE_CHAT_API_BASE =
SIMPLE_CHAT_API_KEY =
SIMPLE_CHAT_MAX_TOKEN =

# 视觉模型
VL_MODEL_PROVIDER =
VL_API_NAME =
VL_API_BASE =
VL_API_KEY =

# 文生图模型
TTI_MODEL_PROVIDER =
TTI_API_NAME =
TTI_API_BASE =
TTI_API_KEY =

# Reranker 模型
# RERANKER_MODEL_LOCAL: true=本地模型(默认), false=云端API
RERANKER_MODEL_LOCAL = true
RERANKER_MODEL_PROVIDER = openai
RERANKER_API_NAME = bge-reranker-v2-m3
RERANKER_API_BASE =
RERANKER_API_KEY =

# embedding 模型
# EMBEDDING_MODEL_LOCAL: true=本地模型(默认), false=云端API
EMBEDDING_MODEL_LOCAL = true
EMBEDDING_MODEL_PROVIDER = openai
EMBEDDING_API_NAME = bge-m3
EMBEDDING_API_BASE =
EMBEDDING_API_KEY =


TAVILY_API_KEY =

## LangSmith
LANGSMITH_TRACING_V2 = true
LANGSMITH_API_KEY =
LANGSMITH_PROJECT = "EMA_AI_agent"

GPT_SOVITS_DIR = C:\app\code\project\GPT-SoVITS-v2pro-20250604-nvidia50
GPT_WEIGHT_PATH = GPT_weights_v2ProPlus/sherry-e15.ckpt
SOVITS_WEIGHT_PATH = SoVITS_weights_v2ProPlus/sherry_e8_s808.pth